<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel='stylesheet' href='node_modules/angular-loading-bar/build/loading-bar.css' type='text/css' media='all' />
    <style>
        .bold-text{
            font-weight: bold;
        }

    </style>

</head>
<body ng-app="app">
    <div class="container" ng-controller="mainController">

        <div class="row text-center well well-sm">
            <h2>{{data.title}}</h2>
            <h3>{{data.subtitle}}</h3>
        </div>
        <div class="row bold-text">
            <ol>
                <li>
                    AngularJS Client side MVC
                </li>
                <li>
                     Angular is now officially supported by Google.
                </li>
                <li>
                    Basics directives, expressions, filters, modules, and controllers
                </li>
                <li>
                    Add <a target="_blank" class="text-danger" href="https://chrome.google.com/webstore/detail/ng-inspector-for-angularj/aadgmnobpdmgmigaicncghmmoeflnamj?hl=en"> ng-inspector</a> to see variable changes
                </li>
            </ol>

        </div>
        <div class="jumbotron row">
            <h2>Example of Two way data binding</h2>
            <p>Input something in the input box:</p>
            <p>Name : <input type="text" ng-model="name" placeholder="Enter name here"></p>
            <h3>Hello {{name}}</h3>
        </div>
    </div>

<script src="node_modules/angular/angular.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/controller/ctrl.js"></script>
<script src="//localhost:35729/livereload.js"></script>
</body>
</html>